[submodule "s3/synapse-s3-storage-provider"]
	path = s3/synapse-s3-storage-provider
	url = https://github.com/matrix-org/synapse-s3-storage-provider.git
[submodule "ldap/matrix-synapse-rest-password-provider"]
	path = ldap/matrix-synapse-rest-password-provider
	url = https://github.com/ma1uta/matrix-synapse-rest-password-provider.git
